.gallery-item {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.gallery-item:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.gallery-item .img-responsive {
    height: 100%;
    width: 100%;
}

.caption {
    padding: 15px;
    text-align: center;
    background-color: #fff;
}